/* Contenedor principal */
.ofertas-container {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* Imagen al lado derecho con espacio arriba y abajo */
.image-container {
  width: 40%;
  padding: 40px 0; /* Espacio arriba y abajo */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ofertas-image {
  width: 100%;
  height: calc(100vh - 80px); /* 100vh menos el padding arriba y abajo */
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

/* Recuadro degradado comenzando desde la derecha */
.offers-box {
  position: absolute;
  top: 2%;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(135deg, #6b3a5b70, #610345);
  border-radius: 0 0 0 20px;
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* Centrado vertical */
  align-items: center;         /* Centrado horizontal */
  text-align: center;
  z-index: 2;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Contenedor de la frase deslizante */
.marquee-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

/* Frase animada */
.marquee span {
  display: inline-block;
  white-space: nowrap;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  animation: slideText 5s linear infinite;
}

/* Animación de desplazamiento */
@keyframes slideText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Botón */
.ofertas-button {
  background: linear-gradient(135deg, #4552cc69, #0a0c8fa1);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ofertas-button:hover {
  background-color: #833ce09f;
}
