#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Fondo solo para las páginas normales */
.background {
  background-image: url('../src/img/Fonfo.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

/* Clase para todo el contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Que la página siempre ocupe el alto de la ventana */
}

/* Clase para todo el contenido entre Nav y Footer */
.page-content {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
}

/* Footer se empuja hacia abajo */
footer {
  margin-top: auto;
}

/* Lo demás sigue igual */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
